
.itens{
  display:flex;
  flex-direction: row;

  justify-content: space-between;
  list-style: none;
  font-size: 18px;
  margin: 24px;
  border-width: 0px;
}

.botao{
  color:red;
  border-radius: 5px;
  padding: 5px;
  border-width:0px ;
  
}
.botao:hover, .itensbutton:hover{
  background-color: white;
}
.botao2{
  background-color: red;
  border-radius: 5px;
  border-width: 0px;
}
.logo{
  width: 150px;
  height: 150px;
}
.destaque{
  font-weight: bold;
}

.img{
  width:150px;
  height:150px;
}

.item {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
}


.componentes{
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  font-size: 18px;
  margin: 24px;
  border: 1px;
  border-color: black;
}
.item{
  border: 1px;
  border-color: black;
}